<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<!-- Название у нас будет proudcts -->
{% block title %}
Categories, Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>Все Категории</h1>
    <hr>
    {% if categories %} <!-- Выводим товары только если они есть с помощью тега if -->
           <h3>Всего Категорий на странице= {{categories|length}}</h3>
            <table>
                <tr>
                    <td>
                        Название
                    </td>
                    <td>
                        Статус Подписки
                    </td>
                </tr>
               {% for category  in categories %}
                    <tr>


                        <td>
                             <a> {{category.name|title|strong_language }}</a>
                        </td>
                        <td>

                         <form  method="POST">
                             {% csrf_token %}
                             {% if not_subscriber %}
                         <button type = 'submit'  name ='subscribe' value="{{ category.id}}">Подписаться</button>
                         </form>
                        {% else %}
                         Вы подписаны на эту категорию
                        {% endif %}
                        </td>
                    </tr>

                {%endfor%}
            </table>
    {% else %} <!-- Если товаров нет, то говорим что товаров нет ;) -->
        <h2>Категорий нет!</h2>
    {% endif %}
{% endblock content%}
{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
{% endif %}
